.wrapper{
    width: 600px;
    height: 400px;
    position: relative;
}

.descriptionWrapper{
    width: 419px;
    margin-bottom: 30px;
}

.downloadButton{
    position: absolute;
    bottom: 15px;
    right: 15px;
}


.loading{
    position: relative;
    &:after {
        left: 50%;
        top: 50%;
        content: 'Loading';
        position: absolute;
    }
}
