.wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.downloadButton{
    position: absolute;
    bottom: 15px;
    right: 10px;
}


.legend {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    &.legendTitle {
        font-size: 1.8rem;
    }
    &.tickLabels {
        font-size: 1.1rem;
    }

}
.points{
    display: block;
}
.mapTextBox {
    & text {
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
}
.point {
    vector-effect: non-scaling-stroke;
    fill: white;
    stroke-width: 0.045rem;
    stroke: black;
}

path {
    fill: none;
    stroke: black;
}
.layer {
    & path {
        vector-effect: non-scaling-stroke;
        stroke: black;
        stroke-width: 0.03rem;
        transition: all 0.4s ease-in;
    }
    &.road {
        & path {
            fill: none;
            pointer-events: none;
            stroke-width: 0.04rem;
            stroke: rgba(0, 0, 0, 0.22);
        }
    }
    &.region {
       & path {
            cursor: pointer;
            fill: lightgrey;
            &:hover {
                 stroke-width: 0.14rem;
            }
        }
    }
    &.boundary {
       & path {
            stroke-width: 0.15rem;
            fill: none;
        }
    }
}

.layerGroup{
    display: block;
}

.scale {
    & path, line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }
    & text {
        font: 0.8rem sans-serif;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
}
.coverageLabel {
    font-size: 1.7rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.coverageImage{
    display:inline-block;
}



.loading{
    position: relative;
    &:after {
        left: 50%;
        top: 50%;
        content: 'Loading';
        position: absolute;
    }
}
