.appWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.headerWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 58px;
    border-bottom: 2px solid #7f3b97;
}

.header{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    margin-left: 400px;
}

.linkWrapper{
    display: inline-flex;
    align-items: center;
    padding-right: 20px;
}

.buttonWrapper{
    margin-left: 10px;
}

.bodyWrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% - 58px);
    padding: 30px 50px;
}

.descriptionWrapper{
    width: 741px;
    margin-bottom: 30px;
}

.graphWrapper {
    position: relative;
    width: 100%;
}

.settings {
    height: 100%;
    overflow: auto;
    display: inline-block;
    width: 370px;
    padding-right: 50px;
    border-right: 1px solid var(--color-grey4);
}

.graph {
    height: 100%;
    display: inline-block;
    width: calc(100% - 370px);
}


