.sideBarWrapper{
    overflow: auto;
    padding: 20px 30px 30px 30px;
    border-radius: 0 3px 3px 0;
    min-height: 100%;
}


.sectionWrapper{
    /*margin-bottom: 20px;*/
}
.sectionWrapper:last-child{
    margin-bottom: 0;
}
.sectionHeader{
    font-weight: bold;
    margin-bottom: 10px;
}
